fastapi
uvicorn
sqlalchemy
python-jose[cryptography]
psycopg2
alembic
bcrypt<5
passlib[bcrypt]
email-validator
itsdangerous
boto3
pgvector
python-dotenv
pydantic
pydantic-settings
pytest
httpx
groq
langchain
langchain-community
langgraph
langchain-text-splitters
beautifulsoup4
youtube-transcript-api
pypdf
