fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
psycopg2
alembic
bcrypt<5
passlib[bcrypt]
itsdangerous
boto3
pgvector
python-dotenv
pydantic
pydantic-settings
pydantic[email]
pytest
httpx
docx
langchain
langchain-community
langgraph
langchain-text-splitters
beautifulsoup4
youtube-transcript-api
pypdf
python-docx
sentence-transformers
